{
  "printWidth": 90,
  "proseWrap": "never",
  "trailingComma": "all",
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "overrides": [
    {
      "files": ["*.js", "*.jsx"],
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": ["*.json", ".*rc", ".yaml", ".yml"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
